{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel = "icon" href = "https://cdn-icons-png.flaticon.com/512/605/605813.png" type = "image/x-icon">
</head>
<body>
    {% load crispy_forms_tags %}
    <main class="container">
        <form method="POST">
            <section class="row">
                <h1>Bienvenido</h1>
            </section>
            <section class="row">
                <fieldset class="col-12">
                    <label for="">{{ formulario.username.label }}</label>
                    {{ formulario.username }}
                    <p class="invalid-feedback">
                        {{ formulario.username.error }}
                    </p>
                </fieldset>
            </section>
            <section class="row">
                <fieldset class="col-6">
                    <label for="">{{ formulario.first_name.label }}</label>
                    {{ formulario.first_name }}
                    <p class="invalid-feedback">
                        {{ formulario.first_name.error }}
                    </p>
                </fieldset>
                <fieldset class="col-6">
                    <label for="">{{ formulario.last_name.label }}</label>
                    {{ formulario.last_name }}
                    <p class="invalid-feedback">
                        {{ formulario.last_name.error }}
                    </p>
                </fieldset>
            </section>
            <section class="row">
                <fieldset class="col-12">
                    <label for="">{{ formulario.email.label }}</label>
                    {{ formulario.email }}
                    <p class="invalid-feedback">
                        {{ formulario.email.error }}
                    </p>
                </fieldset>
            </section>
            <section class="row">
                <fieldset class="col-6">
                    <label for="">{{ formulario.password1.label }}</label>
                    {{ formulario.password1 }}
                    {{ formulario.password1.help_text }}
                    <p class="invalid-feedback">
                        {{ formulario.password1.error }}
                    </p>
                </fieldset>
                <fieldset class="col-6">
                    <label for="">{{ formulario.password2.label }}</label>
                    {{ formulario.password2 }}
                    {{ formulario.password2.help_text }}
                    <p class="invalid-feedback">
                        {{ formulario.password2.error }}
                    </p>
                </fieldset>
            </section>
            {% csrf_token %}
            <section class="row">
                <fieldset class="col">
                    <button class="btn btn-success" role="submit" type="submit">Registrar</button>
                    <button class="btn btn-danger" role="submit" type="submit" href="{% url 'index' %}">Volver</button>
                    <button class="btn btn-success" role="submit" type="submit" href="{% url 'login' %}">Iniciar Sesión</button>
                </fieldset>
            </section>
            
        </form>
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>